html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
button,
input,
textarea {
  outline: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  appearance: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  font-style: normal;
}

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #fff;
  position: relative;
  z-index: 1;
  padding-top: 127px;
  background: conic-gradient(from 0deg, #8a2be2, #7b68ee, #6a5acd);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  display: inline-block;
  margin-bottom: 60px;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: rgba(35, 82, 222, 0.10);
  bottom: 5px;
  left: 2px;
}

.section {
  padding: 140px 0;
}

.btn-default {
  color: #fff;
  background-color: #2352DE;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  padding: 12px 24px;
  border: 1px solid transparent;
  transition: box-shadow 0.3s, color 0.5s, background-color 0.5s;
}

.btn-default:focus {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.50);
}

.btn-default:hover {
  color: #2352DE;
  background-color: #fff;
  border-color: #2352DE;
}

.btn-default:active {
  color: #fff;
  background: #2352DE;
  box-shadow: 0 7px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.header__top {
  padding-top: 75px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: padding 0.3s;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}


.burger {
  display: none;
  align-items: center;
  width: 44px;
  height: 42px;
  z-index: 50;
  position: relative;
}

.burger span {
  position: absolute;
  right: 0;
  height: 2px;
  width: 30px;
  background-color: #fff;
  transition: all 0.5s;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  right: 0;
  height: 2px;
  width: 30px;
  background-color: #fff;
  transition: all 0.5s;
}

.burger::before {
  top: 10px;
}

.burger::after {
  bottom: 10px;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.header__inner {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 127px);
  line-height: 1.3;
}

.header__name {
  font-size: 48px;
  font-weight: 400;
  display: block;
}

.header__title {
  font-size: 90px;
  font-weight: 700;
}


.header__arrow {
  padding-bottom: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header__arrow::before {
  content: "";
  background-image: url("../images/arrow-down-img.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 37px;
  height: 23px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  transition: opacity 0.3s, box-shadow 0.3s;
  z-index: 1;

}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.50);
}

.logo:active {
  opacity: 0.5;
}

.animation-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: underline transparent;
  border-radius: 3px;
  transition: text-decoration 0.5s, box-shadow 0.3s, opacity 0.3s;
}


.animation-link:hover {
  text-decoration: underline;
}

.animation-link:focus {
  box-shadow: 0 0 0 2px rgb(255, 255, 255, 0.50);
}

.animation-link:active {
  opacity: 0.7;
}

